p.one::first-letter {
    color: red;
    font-size: 50px;
}

p.two::first-line {
    color: blue;
    text-transform: uppercase;
    word-spacing: 5px;
}
p::selection {
    color: red;
    background-color: yellow;
}