.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    font-size: 40px;
    grid-template-areas: 
    "a b b"
    "c d .";
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    background-color: green;
    grid-area: a;
}
.two {
    background-color: burlywood;
    grid-area: b;
    
}
.three {
    background-color: red;
    grid-area: c;
}
.four {
    background-color: blue;
    grid-area: d;
}
